# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
functions/node_modules
functions/lib

# Build
dist
dist-ssr

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase
firebase-debug.log
firebase-debug.*.log
*.local

# Vite
*.tsbuildinfo
